<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeladeriaTAMS</title>
    <link rel="stylesheet"   href="~/css/style.css" asp-append-version="true"  />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HeladeriaTAMS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       

    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HeladeriaTAMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Local">Locales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Nosotros</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">Contacto</a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">Catálogo</a>
                        </li>
                        <li class="nav-item">
                           <form asp-controller="Catalogo" asp-action="Index" class="d-flex"> 
                            <input class="form-control me-2" type="text" name="searchString">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </li>

                        
 
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="border-color:#B74E4E ;" >
        <div class="container" >
            <div class="row">
            <div class="col">
                <h6><b>CONÓCENOS</b></h6>
                <h6><small>Información Legal</small></h6>
                <h6><small>Términos y Condiciones de Uso </small></h6>
                <h6><small>Política de Privacidad</small></h6>
            </div>
            <div class="col">
                <h6><b>REDES SOCIALES</b></h6>
                <h6><small>Instagram <i class="fa-brands fa-instagram"></i></small></h6>
                <h6><small>Facebook <i class="fa-brands fa-facebook"></i></small></h6>
            </div>
            <div class="col">
                <h6><b>MI CUENTA</b></h6>
                <h6><small>Iniciar Sesión</small></h6>
            </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/64b57b2524.js" crossorigin="anonymous"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
