<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>

<body>
    <br>
    <em><h1 style="text-align: center;background: orange; font-weight: bold;font-size: 4rem;color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 40px #00fff2; border: white 10px dotted;">Nuestros Locales</h1></em>
    </br>
    </br>
    <div class="row">
        
        <div class="col-md-4 " style="background-color: white;border: orange 10px double ;" >
            <h4 style ="font-family: Codystar;text-align: center;"> MIRAFLORES</h4>
            <img src="/images/local.jpg"  height="200" width="330">
            <p><i class="fa-sharp fa-solid fa-map-location-dot"></i> Av. Comandante Espinar 800</p>
            <p><i class="fa-solid fa-square-phone"></i> +51 987 654 010</p>

        </div>
    
        <div class="col-md-4 offset-md-4" style="background-color: white;border: orange 10px double;">
            <h4 style ="font-family: Codystar;text-align: center;">LOS OLIVOS</h4>
            <img src="/images/local1.jpg"  height="200" width="330">
            <p><i class="fa-sharp fa-solid fa-map-location-dot"></i> Av. Comandante Espinar 800</p>
            <p><i class="fa-solid fa-square-phone"></i> +51 987 654 010</p>
        </div>
        
       
    </div>

</body>

</html>
