<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/local.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
    <title>Nosotros</title>
</head>

<body class="cuerpo">
    <div class="titulo">
        <p class="titulo-texto">Conócenos un Poco Más</p>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card text-center" style="border-radius: 20px; background-color: #FFD8A9; margin-bottom: 100px;">
                    <img src="/images/valores.jpg" class="card-img-top imagen"
                        style="border-radius: 20px 20px 0px 0px;">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                        style="background-color: #F1A661; color: white; font-family: 'Rajdhani', sans-serif; 
                                        font-size: 18px; font-weight: bold;">
                                        NUESTROS PRINCIPIOS
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="background-color: #E38B29;">
                                        <p style="font-family: 'Rajdhani', sans-serif; font-size: 17px; color: white;">
                                            Al probar nuestros helados no solo te estás alimentado de manera sana,
                                            saludable
                                            y consciente, también estás contribuyendo al desarrollo de una economía
                                            sustentable basada en los principios del comercio justo.
                                            <br><br>
                                            Esto lo llevamos a cabo trabajando con pequeños productores, agricultores y
                                            recolectores, quienes nos garantizan una materia prima de primer
                                            nivel.
                                            <br><br>
                                            Mantenemos un compromiso permanente con la protección del medio ambiente,
                                            implementando políticas de trabajo que nos permitan reducir al mínimo los
                                            residuos generados en la creación y consumo de nuestros productos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="card text-center" style="border-radius: 20px; background-color: #FFD8A9; margin-bottom: 100px;">
                    <img src="/images/laboratorio.jpg" class="card-img-top" style="border-radius: 20px 20px 0px 0px;">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                        style="background-color: #F1A661; color: white; font-family: 'Rajdhani', sans-serif; 
                                        font-size: 18px; font-weight: bold;">
                                        LABORATORIO DE SABORES
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="background-color: #E38B29;">
                                        <p style="font-family: 'Rajdhani', sans-serif; font-size: 17px; color: white;">
                                            En el laboratorio es donde ocurre la magia, experimentamos con las materias
                                            primas, creamos nuevas recetas de autor y también elaboramos artesanalmente
                                            el barquillo vegano y su alternativa gluten free.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
