<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    </br>
    </br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <img src="https://tofuu.getjusto.com/orioneat-prod-resized/9k35u9eonJkaoDWxD-x-350.webp" alt=""
                class="img-responsive" width="250" height="380">
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="appSubtitle">NUESTROS
                PRINCIPIOS</div>
            <div class="" style=" font-family: Georgia, 'Times New Roman', serif;font-size: 18px;">Al probar nuestros
                helados
                no solo te estás alimentado de manera sana, saludable y
                consciente, también estás contribuyendo al desarrollo de una
                economía sustentable basada en los principios del comercio
                justo.<br /><br />Esto lo llevamos a cabo trabajando con
                pequeños productores, agricultores y recolectores, quienes
                nos garantizan una materia prima de primer
                nivel.<br /><br />Mantenemos un compromiso permanente con la
                protección del medio ambiente, implementando políticas
                de trabajo que nos permitan reducir al mínimo los residuos
                generados en la creación y consumo de nuestros
                productos.<br />
            </div>
            </br>

        </div>

        </br>
        <div class="col-xs-8 col-sm-4">
            </br></br>
            <img src="https://files.service.getjusto.com/image/63224bc531d6c3758a7e045c" alt="" width="330"
                height="200" />
        </div>
        <div class="col-xs-12 col-sm-6">
            </br></br>
            <div class="appSubtitle">LABORATORIO DE SABORES</div>
            <div class="" style=" font-family: Georgia, 'Times New Roman', serif;font-size: 18px;">En el laboratorio es
                donde
                ocurre la magia, experimentamos con las materias primas,
                creamos nuevas recetas de autor y también elaboramos
                artesanalmente el barquillo vegano y su alternativa gluten
                free.<br />
            </div>
        </div>

</body>

</html>
